@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.avatar {
  background-color: #6b7280; /* bg-gray-500 */
  border-radius: 9999px; /* rounded-full */
}

.playgroundContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}